.vs
.vscode
.env

/build
/Application/build
/Engine/build

/out
/Application/out
/Engine/out

/install
/Application/install
/Engine/install

/resources/shaders

CMakeSettings.json
vcpkg_installed

build.sh
build.cmd
run.sh
run.cmd
clear.sh
clear.cmd
